.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}


.box {
  padding: 60px 50px 40px 50px;
  border-radius: 10px;
  z-index: -1;
  width: 330px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}


.button {
  margin-top: 20px;
}
