<mat-toolbar class="app-header" color="primary">

  <div>
    <h2>Cadastre seus dados</h2>
  </div>

</mat-toolbar>


<br/>


<mat-card class="box">

  <mat-form-field style="width: 100%">
    <mat-label>NOME</mat-label>
    <input matInput required type="text" [(ngModel)]="cliente.name">
  </mat-form-field>


  <mat-form-field style="width: 100%">
    <mat-label>CPF</mat-label>
    <input matInput requiredtype="text" [(ngModel)]="cliente.cpf">
  </mat-form-field>


  <mat-form-field style="width: 100%">
    <mat-label>SENHA</mat-label>
    <input type="password" matInput required [(ngModel)]="cliente.password">
  </mat-form-field>

  <button class="button" mat-flat-button color="primary" (click)="createConta()">CADASTRAR</button>


</mat-card>
