<mat-toolbar class="app-header" color="primary">

  <div>
    <h2>Banco</h2>
  </div>
  <button mat-flat-button>CRIE SUA CONTA</button>
</mat-toolbar>



<mat-card class="box">

  <mat-form-field style="width: 100%">
    <mat-label>CPF</mat-label>
    <input matInput required>
  </mat-form-field>
  <br />
  <mat-form-field style="width: 100%">
    <mat-label>PASSWORD</mat-label>
    <input type="password" matInput required>

  </mat-form-field>
  <button class="button" mat-flat-button color="primary">ENTRAR
  </button>


</mat-card>
